.hero-area{
  height: 600px;
}

.icon-area{
  color:white;
  background-color: #1BB14C;
  height: 600px;
  padding-top: 50px;
}
.benefit-area{
  height: 800px;
  background-color: #F7F7F7;
}
.products-area{
  background-color: #2F4858;
  height: 600px;
}
.volunteer-area{
  height: 1000px;
}