.hero-area{
  height: auto;
  padding: 9% 0 0 0 ;
}

.icon-area{
  color:white;
  background-color: #1BB14C;
  height: auto;
  padding-top: 50px;
}
.benefit-area{
  height: auto;
  background-color: #F7F7F7;
}
.products-area{
  background-color: #2F4858;
  height: auto;
}
.volunteer-area{
  height: auto;
  text-align: left;
  padding: 50px 0;
}