$menuColor: #1BB14C;
$drawerWidth: 250px;
html, body, #app, #app>div {
  background: rgba(247, 247, 247, 0.99);
}
bg{
  background: $menuColor;
}
a{
  text-decoration: none;
}
.menu{
  background-color: #1BB14C !important;
  button{
    color: white;
  }
  .toolbar{
    height: 130px;
  }
  .login{
    margin-left: 60%;
  }
  position: absolute;
  width: calc(100% - 250px);
  z-index: 1500 !important;
}
.register-wrap{
  margin: 7% 5%;
}